{
  "openapi": "3.1.0",
  "info": {
    "title": "inform-data-resources",
    "version": "2.0"
  },
  "servers": [
    {
      "url": "https://api.v2.validic.com"
    }
  ],
  "components": {
    "securitySchemes": {
      "sec0": {
        "type": "apiKey",
        "in": "query",
        "name": "api_key"
      }
    }
  },
  "security": [
    {
      "sec0": []
    }
  ],
  "paths": {
    "/organizations/{org_id}/users?token={token}": {
      "post": {
        "summary": "Provision a User",
        "description": "Creates the user and returns an id, uid, marketplace information, and created_at parameters for the user.\n\nPOST /organizations/:org_id/users?token=:token",
        "operationId": "provision-a-user",
        "parameters": [
          {
            "name": "org_id",
            "in": "path",
            "description": "Organization ID provided to you by Validic.",
            "schema": {
              "type": "string"
            },
            "required": true
          },
          {
            "name": "token",
            "in": "query",
            "description": "Developer Key as supplied by Validic.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "uid": {
                    "type": "string",
                    "description": "The UID you defined when provisioning the client."
                  },
                  "RAW_BODY": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "201",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": {
                      "id": "598518fd8a5da50001578157",
                      "uid": "277040620-wcwflair",
                      "marketplace": {
                        "token": "c7ff3922e30c048f6e2fbd099ee1358d5871e3861419c16d195b0fc313b09c47",
                        "url": "https://syncmydevice.com/?token=c7ff3922e30c048f6e2fbd099ee1358d5871e3861419c16d195b0fc313b09c47"
                      },
                      "mobile": {
                        "token": "0a811c9b0cf0af663eda6e2b496a3b9c"
                      },
                      "location": {
                        "timezone": "America/New_York",
                        "country_code": "US"
                      },
                      "sources": [],
                      "status": "active",
                      "created_at": "2026-01-05T01:01:49Z",
                      "updated_at": "2026-01-05T01:01:49Z"
                    }
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string",
                      "example": "598518fd8a5da50001578157"
                    },
                    "uid": {
                      "type": "string",
                      "example": "277040620-wcwflair"
                    },
                    "marketplace": {
                      "type": "object",
                      "properties": {
                        "token": {
                          "type": "string",
                          "example": "c7ff3922e30c048f6e2fbd099ee1358d5871e3861419c16d195b0fc313b09c47"
                        },
                        "url": {
                          "type": "string",
                          "example": "https://syncmydevice.com/?token=c7ff3922e30c048f6e2fbd099ee1358d5871e3861419c16d195b0fc313b09c47"
                        }
                      }
                    },
                    "mobile": {
                      "type": "object",
                      "properties": {
                        "token": {
                          "type": "string",
                          "example": "0a811c9b0cf0af663eda6e2b496a3b9c"
                        }
                      }
                    },
                    "location": {
                      "type": "object",
                      "properties": {
                        "timezone": {
                          "type": "string",
                          "example": "America/New_York"
                        },
                        "country_code": {
                          "type": "string",
                          "example": "US"
                        }
                      }
                    },
                    "sources": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {}
                      }
                    },
                    "status": {
                      "type": "string",
                      "example": "active"
                    },
                    "created_at": {
                      "type": "string",
                      "example": "2017-08-05T01:01:49Z"
                    },
                    "updated_at": {
                      "type": "string",
                      "example": "2017-08-05T01:01:49Z"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "400",
            "content": {
              "text/plain": {
                "examples": {
                  "Result": {
                    "value": "Indicates that there was an error with request\n"
                  }
                }
              }
            }
          },
          "401": {
            "description": "401",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{\n    \"errors\": [\n        \"Token is not authorized to access organization\"\n    ]\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "errors": {
                      "type": "array",
                      "items": {
                        "type": "string",
                        "example": "Token is not authorized to access organization"
                      }
                    }
                  }
                }
              }
            }
          },
          "422": {
            "description": "422",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{\n    \"message\": \"An error occurred and an error response has been sent with details.\"\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "An error occurred and an error response has been sent with details."
                    }
                  }
                }
              }
            }
          }
        },
        "deprecated": false,
        "security": [],
        "x-readme": {
          "code-samples": [
            {
              "language": "curl",
              "code": "curl --request POST \\\n  --url 'https://api.v2.validic.com/organizations/597752338a5da500014a1f9a/users?token=6f46db36dd6543d2b82d91698fcd0896' \\\n  --header 'content-type: application/json' \\\n  --data '{  \n   \"uid\":\"277040620-wcwflair\",\n   \"location\":{  \n      \"timezone\":\"America/New_York\",\n      \"country_code\":\"US\"\n   }\n}'"
            },
            {
              "language": "ruby",
              "code": "require 'uri'\nrequire 'net/http'\n\nurl = URI(\"https://api.v2.validic.com/organizations/597752338a5da500014a1f9a/users?token=6f46db36dd6543d2b82d91698fcd0896\")\n\nhttp = Net::HTTP.new(url.host, url.port)\n\nrequest = Net::HTTP::Post.new(url)\nrequest[\"content-type\"] = 'application/json'\nrequest.body = \"{  \\n   \\\"uid\\\":\\\"277040620-wcwflair\\\",\\n   \\\"location\\\":{  \\n      \\\"timezone\\\":\\\"America/New_York\\\",\\n      \\\"country_code\\\":\\\"US\\\"\\n   }\\n}\"\n\nresponse = http.request(request)\nputs response.read_body"
            },
            {
              "language": "python",
              "code": "import requests\n\nurl = \"https://api.v2.validic.com/organizations/597752338a5da500014a1f9a/users\"\n\nquerystring = {\"token\":\"6f46db36dd6543d2b82d91698fcd0896\"}\n\npayload = \"{  \\n   \\\"uid\\\":\\\"277040620-wcwflair\\\",\\n   \\\"location\\\":{  \\n      \\\"timezone\\\":\\\"America/New_York\\\",\\n      \\\"country_code\\\":\\\"US\\\"\\n   }\\n}\"\nheaders = {'content-type': 'application/json'}\n\nresponse = requests.request(\"POST\", url, data=payload, headers=headers, params=querystring)\n\nprint(response.text)"
            },
            {
              "language": "go",
              "code": "package main\n\nimport (\n\t\"fmt\"\n\t\"strings\"\n\t\"net/http\"\n\t\"io/ioutil\"\n)\n\nfunc main() {\n\n\turl := \"https://api.v2.validic.com/organizations/597752338a5da500014a1f9a/users?token=6f46db36dd6543d2b82d91698fcd0896\"\n\n\tpayload := strings.NewReader(\"{  \\n   \\\"uid\\\":\\\"277040620-wcwflair\\\",\\n   \\\"location\\\":{  \\n      \\\"timezone\\\":\\\"America/New_York\\\",\\n      \\\"country_code\\\":\\\"US\\\"\\n   }\\n}\")\n\n\treq, _ := http.NewRequest(\"POST\", url, payload)\n\n\treq.Header.Add(\"content-type\", \"application/json\")\n\n\tres, _ := http.DefaultClient.Do(req)\n\n\tdefer res.Body.Close()\n\tbody, _ := ioutil.ReadAll(res.Body)\n\n\tfmt.Println(res)\n\tfmt.Println(string(body))\n\n}"
            },
            {
              "language": "php",
              "code": "<?php\n\n$curl = curl_init();\n\ncurl_setopt_array($curl, array(\n  CURLOPT_URL => \"https://api.v2.validic.com/organizations/597752338a5da500014a1f9a/users?token=6f46db36dd6543d2b82d91698fcd0896\",\n  CURLOPT_RETURNTRANSFER => true,\n  CURLOPT_ENCODING => \"\",\n  CURLOPT_MAXREDIRS => 10,\n  CURLOPT_TIMEOUT => 30,\n  CURLOPT_HTTP_VERSION => CURL_HTTP_VERSION_1_1,\n  CURLOPT_CUSTOMREQUEST => \"POST\",\n  CURLOPT_POSTFIELDS => \"{  \\n   \\\"uid\\\":\\\"277040620-wcwflair\\\",\\n   \\\"location\\\":{  \\n      \\\"timezone\\\":\\\"America/New_York\\\",\\n      \\\"country_code\\\":\\\"US\\\"\\n   }\\n}\",\n  CURLOPT_HTTPHEADER => array(\n    \"content-type: application/json\"\n  ),\n));\n\n$response = curl_exec($curl);\n$err = curl_error($curl);\n\ncurl_close($curl);\n\nif ($err) {\n  echo \"cURL Error #:\" . $err;\n} else {\n  echo $response;\n}"
            }
          ],
          "samples-languages": [
            "curl",
            "ruby",
            "python",
            "go",
            "php"
          ]
        }
      },
      "get": {
        "summary": "Get All Users",
        "description": "Returns all end users and includes profiles (minus connected devices) based on the organization ID. \n\nGET /organizations/:org_id/users?token=:token",
        "operationId": "get-all-user-profiles",
        "parameters": [
          {
            "name": "org_id",
            "in": "path",
            "description": "Organization ID provided to you by Validic.",
            "schema": {
              "type": "string"
            },
            "required": true
          },
          {
            "name": "token",
            "in": "path",
            "description": "Developer Key as supplied by Validic.",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{\n    \"data\": [\n        {\n            \"id\": \"59b02bdef758800001e13e8c\",\n            \"uid\": \"vpt12345sp\",\n            \"marketplace\": {\n                \"token\": \"ae4fdfd364e42137af14b207e8efd5SAMPLE7b99e3e49361e6289701eb0d\",\n                \"url\": \"https://syncmydevice.com?token=ae4fdfd364e42137af14b207SAMPLEbcdefaae7b99e3e49361e6289701eb0d\"\n            },\n            \"mobile\": {\n                \"token\": \"facbce6ccdSAMPLE86800024ee0d96d2\"\n            },\n            \"location\": {\n                \"timezone\": \"Asia/Kolkata\",\n                \"country_code\": \"VG\"\n            },\n            \"status\": \"active\",\n            \"created_at\": \"2017-09-06T17:09:50Z\",\n            \"updated_at\": \"2017-12-01T05:24:24Z\"\n        },\n        {\n            \"id\": \"59b0664cf758800001e13ea9\",\n            \"uid\": \"277040620sol3\",\n            \"marketplace\": {\n                \"token\": \"ee889ef9d7fb7a9644c97ef969SAMPLEa0be23352bdee46a775c066ef0f890\",\n                \"url\": \"https://syncmydevice.com?token=ee889ef9d7fb7a9644c97ef9d69b99c846a0be23352bdee46a775c066ef0f890\"\n            },\n            \"mobile\": {\n                \"token\": \"7c001f84255SAMPLE18c168ba563035\"\n            },\n            \"location\": {\n                \"timezone\": \"America/New_York\",\n                \"country_code\": \"US\"\n            },\n            \"status\": \"active\",\n            \"created_at\": \"2017-09-06T21:19:08Z\",\n            \"updated_at\": \"2017-09-06T21:19:08Z\"\n        },\n        {\n            \"id\": \"59c2e19cf758800001bf2fb2\",\n            \"uid\": \"277040620sol4\",\n            \"marketplace\": {\n                \"token\": \"d984f67288b84825115232dac3SAMPLE84449065cf74cfd51bb4df3de6a1053b\",\n                \"url\": \"https://syncmydevice.com?token=d984f67288b84825115232dac302d75384449065cf74cfd51bb4df3de6a1053b\"\n            },\n            \"mobile\": {\n                \"token\": \"505ce9bd93SAMPLEdf18e42872dff0b\"\n            },\n            \"location\": {\n                \"timezone\": \"America/New_York\",\n                \"country_code\": \"US\"\n            },\n            \"status\": \"active\",\n            \"created_at\": \"2017-09-20T21:46:04Z\",\n            \"updated_at\": \"2017-09-22T16:44:32Z\"\n        },\n        {\n            \"id\": \"59c539c0164f25000199c47d\",\n            \"uid\": \"se178982\",\n            \"marketplace\": {\n                \"token\": \"55c28385e0f449d3de01ff5fd3c8SAMPLE4d8de5b95d6d98fa4524d5ea54b23\",\n                \"url\": \"https://syncmydevice.com?token=55c28385e0f449d3de01ff5fd3SAMPLEc54d8de5b95d6d98fa4524d5ea54b23\"\n            },\n            \"mobile\": {\n                \"token\": \"38152fSAMPLE7478ebc36a6be1d3256\"\n            },\n            \"location\": {\n                \"timezone\": \"America/New_York\",\n                \"country_code\": \"US\"\n            },\n            \"status\": \"active\",\n            \"created_at\": \"2017-09-22T16:26:40Z\",\n            \"updated_at\": \"2017-09-22T16:26:40Z\"\n        },\n        {\n            \"id\": \"59ca5d83f758800001bf312b\",\n            \"uid\": \"se178981\",\n            \"marketplace\": {\n                \"token\": \"4b02ae8eea61598e789d70525400fSAMPLESAMPLEdfc11c1e6ea22a4aa6d926e24f74\",\n                \"url\": \"https://syncmydevice.com?token=4b02ae8eea61598e789d70525SAMPLE292dfc11c1e6ea22a4aa6d926e24f74\"\n            },\n            \"mobile\": {\n                \"token\": \"8b23389a32SAMPLE18e89528a56db9ac1\"\n            },\n            \"location\": {\n                \"timezone\": \"America/New_York\",\n                \"country_code\": \"US\"\n            },\n            \"status\": \"active\",\n            \"created_at\": \"2017-09-26T14:00:35Z\",\n            \"updated_at\": \"2017-09-26T14:00:35Z\"\n        },\n        {\n            \"id\": \"59ca83d6f758800001bf312f\",\n            \"uid\": \"se17898331\",\n            \"marketplace\": {\n                \"token\": \"51df01284fe51fe109c16ebfb52SAMPLE57c3c4d11b8fc5a7c2e997f7227aab\",\n                \"url\": \"https://syncmydevice.com?token=51df01284fe51fe109cSAMPLE923fcb57c3c4d11b8fc5a7c2e997f7227aab\"\n            },\n            \"mobile\": {\n                \"token\": \"9096df475bSAMPLEa5bbb43812324b00\"\n            },\n            \"location\": {\n                \"timezone\": \"America/New_York\",\n                \"country_code\": \"US\"\n            },\n            \"status\": \"active\",\n            \"created_at\": \"2017-09-26T16:44:06Z\",\n            \"updated_at\": \"2017-09-26T16:44:06Z\"\n        },\n        {\n            \"id\": \"59f0e82c214197000182bf59\",\n            \"uid\": \"mrm344ees4343eeks\",\n            \"marketplace\": {\n                \"token\": \"af64c6d8d66f048bb8ae4dSAMPLEa07912972a792308fb71ab368a7eb82ae7\",\n                \"url\": \"https://syncmydevice.com?token=af64c6d8d66f048bb8aeSAMPLE07912972a792308fb71ab368a7eb82ae7\"\n            },\n            \"mobile\": {\n                \"token\": \"0c708f770SAMPLE41ae54217b6eabe29d\"\n            },\n            \"location\": {\n                \"timezone\": null,\n                \"country_code\": null\n            },\n            \"status\": \"active\",\n            \"created_at\": \"2017-10-25T19:38:20Z\",\n            \"updated_at\": \"2017-12-28T19:33:05Z\"\n        },\n        {\n            \"id\": \"59f9d8ca214197000169373e\",\n            \"uid\": \"josdsde2322h\",\n            \"marketplace\": {\n                \"token\": \"0a365cc6d748cfd66df675588aSAMPLE26ab308ae27f06a958b0b47ffd2b30e\",\n                \"url\": \"https://syncmydevice.com?token=0a365cc6d748cfd6SAMPLEdd001626ab308ae27f06a958b0b47ffd2b30e\"\n            },\n            \"mobile\": {\n                \"token\": \"31a4b9110SAMPLE838fe61d9b41af14\"\n            },\n            \"location\": {\n                \"timezone\": \"America/New_York\",\n                \"country_code\": null\n            },\n            \"status\": \"active\",\n            \"created_at\": \"2017-11-01T14:23:06Z\",\n            \"updated_at\": \"2017-11-01T17:01:18Z\"\n        },\n        {\n            \"id\": \"59f9d90021419700018d407c\",\n            \"uid\": \"jowrww334223st\",\n            \"marketplace\": {\n                \"token\": \"a126b4cf22c6bd5939ef27b9SAMPLEcfe6400725b879a772aecf3193eae8d9\",\n                \"url\": \"https://syncmydevice.com?token=a126b4cf22c6bd5939ef27b9SAMPLEfe6400725b879a772aecf3193eae8d9\"\n            },\n            \"mobile\": {\n                \"token\": \"bc45dfd559SAMPLE0bd6562a9adf3a487\"\n            },\n            \"location\": {\n                \"timezone\": null,\n                \"country_code\": null\n            },\n            \"status\": \"active\",\n            \"created_at\": \"2017-11-01T14:24:00Z\",\n            \"updated_at\": \"2017-11-01T14:24:00Z\"\n        },\n        {\n            \"id\": \"5a145447214197000169392f\",\n            \"uid\": \"277040620sol55\",\n            \"marketplace\": {\n                \"token\": \"3a341f3a92a01b005e92dc2dcdSAMPLE55d25ee8f7926153e43e445bf04cf9\",\n                \"url\": \"https://syncmydevice.com?token=3a341f3a92a01b005e92dc2dcdSAMPLE9c055d25ee8f7926153e43e445bf04cf9\"\n            },\n            \"mobile\": {\n                \"token\": \"fdc9537SAMPLE38857263265e5151c\"\n            },\n            \"location\": {\n                \"timezone\": \"America/New_York\",\n                \"country_code\": \"US\"\n            },\n            \"status\": \"active\",\n            \"created_at\": \"2017-11-21T16:28:55Z\",\n            \"updated_at\": \"2017-11-21T16:28:55Z\"\n        },\n        {\n            \"id\": \"5a6eac8e2141970001ca751a\",\n            \"uid\": \"samw2242rqst\",\n            \"marketplace\": {\n                \"token\": \"67f32c74edcd220ce3cf6a726b01SAMPLEe1f1ec87200bf584da21ac01a8fec\",\n                \"url\": \"https://syncmydevice.com?token=67f32c74edcd220ceSAMPLE6b0168343a1e1f1ec87200bf584da21ac01a8fec\"\n            },\n            \"mobile\": {\n                \"token\": \"ed4ed17SAMPLEf7856f05300089a2ab\"\n            },\n            \"location\": {\n                \"timezone\": \"America/New_York\",\n                \"country_code\": \"US\"\n            },\n            \"status\": \"active\",\n            \"created_at\": \"2018-01-29T05:09:34Z\",\n            \"updated_at\": \"2018-01-29T05:09:34Z\"\n        }\n    ],\n    \"meta\": {\n        \"offset\": 0,\n        \"limit\": 25,\n        \"total\": 11,\n        \"sort\": [\n            \"created_at ASC\"\n        ]\n    }\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string",
                            "example": "59b02bdef758800001e13e8c"
                          },
                          "uid": {
                            "type": "string",
                            "example": "vpt12345sp"
                          },
                          "marketplace": {
                            "type": "object",
                            "properties": {
                              "token": {
                                "type": "string",
                                "example": "ae4fdfd364e42137af14b207e8efd5SAMPLE7b99e3e49361e6289701eb0d"
                              },
                              "url": {
                                "type": "string",
                                "example": "https://syncmydevice.com?token=ae4fdfd364e42137af14b207SAMPLEbcdefaae7b99e3e49361e6289701eb0d"
                              }
                            }
                          },
                          "mobile": {
                            "type": "object",
                            "properties": {
                              "token": {
                                "type": "string",
                                "example": "facbce6ccdSAMPLE86800024ee0d96d2"
                              }
                            }
                          },
                          "location": {
                            "type": "object",
                            "properties": {
                              "timezone": {
                                "type": "string",
                                "example": "Asia/Kolkata"
                              },
                              "country_code": {
                                "type": "string",
                                "example": "VG"
                              }
                            }
                          },
                          "status": {
                            "type": "string",
                            "example": "active"
                          },
                          "created_at": {
                            "type": "string",
                            "example": "2017-09-06T17:09:50Z"
                          },
                          "updated_at": {
                            "type": "string",
                            "example": "2017-12-01T05:24:24Z"
                          }
                        }
                      }
                    },
                    "meta": {
                      "type": "object",
                      "properties": {
                        "offset": {
                          "type": "integer",
                          "example": 0,
                          "default": 0
                        },
                        "limit": {
                          "type": "integer",
                          "example": 25,
                          "default": 0
                        },
                        "total": {
                          "type": "integer",
                          "example": 11,
                          "default": 0
                        },
                        "sort": {
                          "type": "array",
                          "items": {
                            "type": "string",
                            "example": "created_at ASC"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "404",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "An error occurred and an error response has been sent with details."
                  }
                }
              }
            }
          }
        },
        "deprecated": false,
        "security": [],
        "x-readme": {
          "code-samples": [
            {
              "language": "curl",
              "code": "curl --request GET \\\n  --url 'https://api.v2.validic.com/organizations/597752338a5da500014a1f9a/users?token=6f46db36dd6543d2b82d91698fcd0896' \\\n  --header 'content-type: application/json'"
            },
            {
              "language": "ruby",
              "code": "require 'uri'\nrequire 'net/http'\n\nurl = URI(\"https://api.v2.validic.com/organizations/597752338a5da500014a1f9a/users?token=6f46db36dd6543d2b82d91698fcd0896\")\n\nhttp = Net::HTTP.new(url.host, url.port)\n\nrequest = Net::HTTP::Get.new(url)\nrequest[\"content-type\"] = 'application/json'\n\nresponse = http.request(request)\nputs response.read_body"
            },
            {
              "language": "python",
              "code": "import requests\n\nurl = \"https://api.v2.validic.com/organizations/597752338a5da500014a1f9a/users\"\n\nquerystring = {\"token\":\"6f46db36dd6543d2b82d91698fcd0896\"}\n\nheaders = {'content-type': 'application/json'}\n\nresponse = requests.request(\"GET\", url, headers=headers, params=querystring)\n\nprint(response.text)"
            },
            {
              "language": "go",
              "code": "package main\n\nimport (\n\t\"fmt\"\n\t\"net/http\"\n\t\"io/ioutil\"\n)\n\nfunc main() {\n\n\turl := \"https://api.v2.validic.com/organizations/597752338a5da500014a1f9a/users?token=6f46db36dd6543d2b82d91698fcd0896\"\n\n\treq, _ := http.NewRequest(\"GET\", url, nil)\n\n\treq.Header.Add(\"content-type\", \"application/json\")\n\n\tres, _ := http.DefaultClient.Do(req)\n\n\tdefer res.Body.Close()\n\tbody, _ := ioutil.ReadAll(res.Body)\n\n\tfmt.Println(res)\n\tfmt.Println(string(body))\n\n}"
            },
            {
              "language": "php",
              "code": "<?php\n\n$curl = curl_init();\n\ncurl_setopt_array($curl, array(\n  CURLOPT_URL => \"https://api.v2.validic.com/organizations/597752338a5da500014a1f9a/users?token=6f46db36dd6543d2b82d91698fcd0896\",\n  CURLOPT_RETURNTRANSFER => true,\n  CURLOPT_ENCODING => \"\",\n  CURLOPT_MAXREDIRS => 10,\n  CURLOPT_TIMEOUT => 30,\n  CURLOPT_HTTP_VERSION => CURL_HTTP_VERSION_1_1,\n  CURLOPT_CUSTOMREQUEST => \"GET\",\n  CURLOPT_HTTPHEADER => array(\n    \"content-type: application/json\"\n  ),\n));\n\n$response = curl_exec($curl);\n$err = curl_error($curl);\n\ncurl_close($curl);\n\nif ($err) {\n  echo \"cURL Error #:\" . $err;\n} else {\n  echo $response;\n}"
            }
          ],
          "samples-languages": [
            "curl",
            "ruby",
            "python",
            "go",
            "php"
          ]
        }
      }
    },
    "/organizations/{org_id}/users/{uid}?token={token}": {
      "get": {
        "summary": "Get User Profile",
        "description": "Returns an end users profile and connected devices, based on the uid of the user for the organization. \n\nGET /organizations/:org_id/users/:uid?token=:token",
        "operationId": "get-user-profile",
        "parameters": [
          {
            "name": "org_id",
            "in": "path",
            "description": "Organization ID provided to you by Validic.",
            "schema": {
              "type": "string"
            },
            "required": true
          },
          {
            "name": "uid",
            "in": "path",
            "description": "The UID you defined when provisioning the client.",
            "schema": {
              "type": "string"
            },
            "required": true
          },
          {
            "name": "token",
            "in": "path",
            "description": "Developer Key as supplied by Validic.",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": {
                      "id": "59b02bdef758800001e13e8c",
                      "uid": "277040620-sel",
                      "marketplace": {
                        "token": "4deee4c7c81e9b652d22c8999beaf7c972daa513c6cf6aaa6af636f8117bf929",
                        "url": "https://syncmydevice.com/?token=4deee4c7c81e9b652d22c8999beaf7c972daa513c6cf6aaa6af636f8117bf929"
                      },
                      "mobile": {
                        "token": "facbce6ccd524cc68fdfd024ee0d96d2"
                      },
                      "location": {
                        "timezone": "America/New_York",
                        "country_code": null
                      },
                      "sources": [
                        {
                          "type": "strava",
                          "connected_at": "2025-09-06T20:55:22Z",
                          "last_processed_at": "2025-10-06T20:55:22Z"
                        },
                        {
                          "type": "omron",
                          "connected_at": "2025-09-06T18:42:31Z",
                          "last_processed_at": "2025-10-06T20:55:22Z"
                        },
                        {
                          "type": "ihealth",
                          "connected_at": "2025-09-06T18:39:09Z",
                          "last_processed_at": "2025-10-06T20:55:22Z"
                        },
                        {
                          "type": "garmin",
                          "connected_at": "2025-09-06T18:32:04Z",
                          "last_processed_at": "2025-10-06T20:55:22Z"
                        },
                        {
                          "type": "fitbit",
                          "connected_at": "2025-09-06T18:23:10Z",
                          "last_processed_at": "2025-10-06T20:55:22Z"
                        }
                      ],
                      "created_at": "2025-09-06T17:09:50Z",
                      "updated_at": "2025-09-06T18:35:19Z"
                    }
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string",
                      "example": "59b02bdef758800001e13e8c"
                    },
                    "uid": {
                      "type": "string",
                      "example": "277040620-sel"
                    },
                    "marketplace": {
                      "type": "object",
                      "properties": {
                        "token": {
                          "type": "string",
                          "example": "4deee4c7c81e9b652d22c8999beaf7c972daa513c6cf6aaa6af636f8117bf929"
                        },
                        "url": {
                          "type": "string",
                          "example": "https://syncmydevice.com/?token=4deee4c7c81e9b652d22c8999beaf7c972daa513c6cf6aaa6af636f8117bf929"
                        }
                      }
                    },
                    "mobile": {
                      "type": "object",
                      "properties": {
                        "token": {
                          "type": "string",
                          "example": "facbce6ccd524cc68fdfd024ee0d96d2"
                        }
                      }
                    },
                    "location": {
                      "type": "object",
                      "properties": {
                        "timezone": {
                          "type": "string",
                          "example": "America/New_York"
                        },
                        "country_code": {}
                      }
                    },
                    "sources": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "type": {
                            "type": "string",
                            "example": "strava"
                          },
                          "connected_at": {
                            "type": "string",
                            "example": "2017-09-06T20:55:22Z"
                          },
                          "last_processed_at": {
                            "type": "string",
                            "example": "2017-10-06T20:55:22Z"
                          }
                        }
                      }
                    },
                    "created_at": {
                      "type": "string",
                      "example": "2017-09-06T17:09:50Z"
                    },
                    "updated_at": {
                      "type": "string",
                      "example": "2017-09-06T18:35:19Z"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "404",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "An error occurred and an error response has been sent with details."
                  }
                }
              }
            }
          }
        },
        "security": [],
        "x-readme": {
          "code-samples": [
            {
              "language": "curl",
              "code": "curl --request GET \\\n  --url 'https://api.v2.validic.com/organizations/597752338a5da500014a1f9a/users/277040620-sel/?token=6f46db36dd6543d2b82d91698fcd0896' \\\n  --header 'content-type: application/json'"
            },
            {
              "language": "ruby",
              "code": "require 'uri'\nrequire 'net/http'\n\nurl = URI(\"https://api.v2.validic.com/organizations/597752338a5da500014a1f9a/users/277040620-sel/?token=6f46db36dd6543d2b82d91698fcd0896\")\n\nhttp = Net::HTTP.new(url.host, url.port)\n\nrequest = Net::HTTP::Get.new(url)\nrequest[\"content-type\"] = 'application/json'\n\nresponse = http.request(request)\nputs response.read_body"
            },
            {
              "language": "python",
              "code": "import requests\n\nurl = \"https://api.v2.validic.com/organizations/597752338a5da500014a1f9a/users/277040620-sel/\"\n\nquerystring = {\"token\":\"6f46db36dd6543d2b82d91698fcd0896\"}\n\nheaders = {'content-type': 'application/json'}\n\nresponse = requests.request(\"GET\", url, headers=headers, params=querystring)\n\nprint(response.text)"
            },
            {
              "language": "go",
              "code": "package main\n\nimport (\n\t\"fmt\"\n\t\"net/http\"\n\t\"io/ioutil\"\n)\n\nfunc main() {\n\n\turl := \"https://api.v2.validic.com/organizations/597752338a5da500014a1f9a/users/277040620-sel/?token=6f46db36dd6543d2b82d91698fcd0896\"\n\n\treq, _ := http.NewRequest(\"GET\", url, nil)\n\n\treq.Header.Add(\"content-type\", \"application/json\")\n\n\tres, _ := http.DefaultClient.Do(req)\n\n\tdefer res.Body.Close()\n\tbody, _ := ioutil.ReadAll(res.Body)\n\n\tfmt.Println(res)\n\tfmt.Println(string(body))\n\n}"
            },
            {
              "language": "php",
              "code": "<?php\n\n$curl = curl_init();\n\ncurl_setopt_array($curl, array(\n  CURLOPT_URL => \"https://api.v2.validic.com/organizations/597752338a5da500014a1f9a/users/277040620-sel/?token=6f46db36dd6543d2b82d91698fcd0896\",\n  CURLOPT_RETURNTRANSFER => true,\n  CURLOPT_ENCODING => \"\",\n  CURLOPT_MAXREDIRS => 10,\n  CURLOPT_TIMEOUT => 30,\n  CURLOPT_HTTP_VERSION => CURL_HTTP_VERSION_1_1,\n  CURLOPT_CUSTOMREQUEST => \"GET\",\n  CURLOPT_HTTPHEADER => array(\n    \"content-type: application/json\"\n  ),\n));\n\n$response = curl_exec($curl);\n$err = curl_error($curl);\n\ncurl_close($curl);\n\nif ($err) {\n  echo \"cURL Error #:\" . $err;\n} else {\n  echo $response;\n}"
            }
          ],
          "samples-languages": [
            "curl",
            "ruby",
            "python",
            "go",
            "php"
          ]
        }
      },
      "put": {
        "summary": "Update User",
        "description": "Updates users profile information and return an id, uid, marketplace information, and created_at parameters for the user.\n\nPUT /organizations/:org_id/users/:uid/",
        "operationId": "update-user",
        "parameters": [
          {
            "name": "org_id",
            "in": "path",
            "description": "Organization ID provided to you by Validic.",
            "schema": {
              "type": "string"
            },
            "required": true
          },
          {
            "name": "uid",
            "in": "path",
            "description": "The UID you defined when provisioning the client.",
            "schema": {
              "type": "string"
            },
            "required": true
          },
          {
            "name": "token",
            "in": "path",
            "description": "Developer Key as supplied by Validic.",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "timezone": {
                    "type": "array",
                    "description": "Used to populate timezone and country_code"
                  },
                  "country_code": {
                    "type": "array"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{\n    \"id\": \"597769108a5da500014a1fa8\",\n    \"uid\": \"277040620-sel\",\n    \"marketplace\": {\n        \"token\": \"4deee4c7c81e9b652d22c8999beaf7c972daa513c6cf6aaa6af636f8117bf929\",\n        \"url\": \"https://syncmydevice.com/?token=4deee4c7c81e9b652d22c8999beaf7c972daa513c6cf6aaa6af636f8117bf929\"\n    },\n    \"location\": {\n        \"timezone\": \"America/New_York\",\n        \"country_code\": \"US\"\n    },\n    \"sources\": [\n        {\n            \"type\": \"strava\",\n            \"connected_at\": \"2017-07-26T18:49:24Z\",\n            \"last_processed_at\": \"2017-10-06T20:55:22Z\"\n        },\n        {\n            \"type\": \"misfit\",\n            \"connected_at\": \"2017-07-25T15:57:30Z\",\n            \"last_processed_at\": \"2017-10-06T20:55:22Z\"\n        },\n        {\n            \"type\": \"withings\",\n            \"connected_at\": \"2017-07-25T15:52:36Z\",\n            \"last_processed_at\": \"2017-10-06T20:55:22Z\"\n        },\n        {\n            \"type\": \"jawbone\",\n            \"connected_at\": \"2017-07-25T15:52:16Z\",\n            \"last_processed_at\": \"2017-10-06T20:55:22Z\"\n        }\n    ],\n    \"created_at\": \"2017-07-25T15:51:44Z\",\n    \"updated_at\": \"2017-07-25T15:51:44Z\"\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string",
                      "example": "597769108a5da500014a1fa8"
                    },
                    "uid": {
                      "type": "string",
                      "example": "277040620-sel"
                    },
                    "marketplace": {
                      "type": "object",
                      "properties": {
                        "token": {
                          "type": "string",
                          "example": "4deee4c7c81e9b652d22c8999beaf7c972daa513c6cf6aaa6af636f8117bf929"
                        },
                        "url": {
                          "type": "string",
                          "example": "https://syncmydevice.com/?token=4deee4c7c81e9b652d22c8999beaf7c972daa513c6cf6aaa6af636f8117bf929"
                        }
                      }
                    },
                    "location": {
                      "type": "object",
                      "properties": {
                        "timezone": {
                          "type": "string",
                          "example": "America/New_York"
                        },
                        "country_code": {
                          "type": "string",
                          "example": "US"
                        }
                      }
                    },
                    "sources": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "type": {
                            "type": "string",
                            "example": "strava"
                          },
                          "connected_at": {
                            "type": "string",
                            "example": "2017-07-26T18:49:24Z"
                          },
                          "last_processed_at": {
                            "type": "string",
                            "example": "2017-10-06T20:55:22Z"
                          }
                        }
                      }
                    },
                    "created_at": {
                      "type": "string",
                      "example": "2017-07-25T15:51:44Z"
                    },
                    "updated_at": {
                      "type": "string",
                      "example": "2017-07-25T15:51:44Z"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "400",
            "content": {
              "text/plain": {
                "examples": {
                  "Result": {
                    "value": "Indicates that there was an error with request\n"
                  }
                }
              }
            }
          },
          "401": {
            "description": "401",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{\n    \"errors\": [\n        \"Token is not authorized to access organization\"\n    ]\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "errors": {
                      "type": "array",
                      "items": {
                        "type": "string",
                        "example": "Token is not authorized to access organization"
                      }
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "403",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{\n    \"message\": \"Invalid authentication credentials\"\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "Invalid authentication credentials"
                    }
                  }
                }
              }
            }
          }
        },
        "deprecated": false,
        "security": [],
        "x-readme": {
          "code-samples": [
            {
              "language": "curl",
              "code": "curl -X PUT \\\n  'https://api.v2.validic.com/organizations/597752338a5da500014a1f9a/users/277040620-sel?token=6f46db36dd6543d2b82d91698fcd0896' \\\n  -H 'cache-control: no-cache' \\\n  -H 'content-type: application/json' \\\n  -H 'postman-token: 2d101c97-769c-39a1-13b6-f49a0895ee11' \\\n  -d '{\n  \"location\": {\n    \"timezone\": \"America/New_York\",\n    \"country_code\": \"US\"\n  }\n}\n'"
            },
            {
              "language": "ruby",
              "code": "require 'uri'\nrequire 'net/http'\n\nurl = URI(\"https://api.v2.validic.com/organizations/597752338a5da500014a1f9a/users/277040620-sel?token=6f46db36dd6543d2b82d91698fcd0896\")\n\nhttp = Net::HTTP.new(url.host, url.port)\nhttp.use_ssl = true\nhttp.verify_mode = OpenSSL::SSL::VERIFY_NONE\n\nrequest = Net::HTTP::Put.new(url)\nrequest[\"content-type\"] = 'application/json'\nrequest[\"cache-control\"] = 'no-cache'\nrequest[\"postman-token\"] = 'd7ca6024-b749-0057-7372-287379565566'\nrequest.body = \"{\\n  \\\"location\\\": {\\n    \\\"timezone\\\": \\\"America/New_York\\\",\\n    \\\"country_code\\\": \\\"US\\\"\\n  }\\n}\\n\"\n\nresponse = http.request(request)\nputs response.read_body"
            },
            {
              "language": "python",
              "code": "import http.client\n\nconn = http.client.HTTPSConnection(\"api.v2.validic.com\")\n\npayload = \"{\\n  \\\"location\\\": {\\n    \\\"timezone\\\": \\\"America/New_York\\\",\\n    \\\"country_code\\\": \\\"US\\\"\\n  }\\n}\\n\"\n\nheaders = {\n    'content-type': \"application/json\",\n    'cache-control': \"no-cache\",\n    'postman-token': \"4ae61f50-78a1-cf25-0ae9-2c6e6b082f05\"\n    }\n\nconn.request(\"PUT\", \"/organizations/597752338a5da500014a1f9a/users/277040620-sel?token=6f46db36dd6543d2b82d91698fcd0896\", payload, headers)\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"
            },
            {
              "language": "go",
              "code": "package main\n\nimport (\n\t\"fmt\"\n\t\"strings\"\n\t\"net/http\"\n\t\"io/ioutil\"\n)\n\nfunc main() {\n\n\turl := \"https://api.v2.validic.com/organizations/597752338a5da500014a1f9a/users/277040620-sel?token=6f46db36dd6543d2b82d91698fcd0896\"\n\n\tpayload := strings.NewReader(\"{\\n  \\\"location\\\": {\\n    \\\"timezone\\\": \\\"America/New_York\\\",\\n    \\\"country_code\\\": \\\"US\\\"\\n  }\\n}\\n\")\n\n\treq, _ := http.NewRequest(\"PUT\", url, payload)\n\n\treq.Header.Add(\"content-type\", \"application/json\")\n\treq.Header.Add(\"cache-control\", \"no-cache\")\n\treq.Header.Add(\"postman-token\", \"c7d2110a-a568-3e89-a482-59a9ff30d3f7\")\n\n\tres, _ := http.DefaultClient.Do(req)\n\n\tdefer res.Body.Close()\n\tbody, _ := ioutil.ReadAll(res.Body)\n\n\tfmt.Println(res)\n\tfmt.Println(string(body))\n\n}"
            },
            {
              "language": "php",
              "code": "<?php\n\n$request = new HttpRequest();\n$request->setUrl('https://api.v2.validic.com/organizations/597752338a5da500014a1f9a/users/277040620-sel');\n$request->setMethod(HTTP_METH_PUT);\n\n$request->setQueryData(array(\n  'token' => '6f46db36dd6543d2b82d91698fcd0896'\n));\n\n$request->setHeaders(array(\n  'postman-token' => '5869bff7-ecc2-be4d-c8d4-9e2c51f8fab4',\n  'cache-control' => 'no-cache',\n  'content-type' => 'application/json'\n));\n\n$request->setBody('{\n  \"location\": {\n    \"timezone\": \"America/New_York\",\n    \"country_code\": \"US\"\n  }\n}\n');\n\ntry {\n  $response = $request->send();\n\n  echo $response->getBody();\n} catch (HttpException $ex) {\n  echo $ex;\n}"
            },
            {
              "language": "http",
              "code": "PUT /organizations/597752338a5da500014a1f9a/users/277040620-sel?token=6f46db36dd6543d2b82d91698fcd0896 HTTP/1.1\nHost: api.v2.validic.com\nContent-Type: application/json\nCache-Control: no-cache\nPostman-Token: 1eee6c40-8268-6661-3bf7-3b9ba5d10a95\n\n{\n  \"location\": {\n    \"timezone\": \"America/New_York\",\n    \"country_code\": \"US\"\n  }\n}"
            }
          ],
          "samples-languages": [
            "curl",
            "ruby",
            "python",
            "go",
            "php",
            "http"
          ]
        }
      },
      "delete": {
        "summary": "Delete User",
        "description": "Deletes a user. Deleting a user will permanently remove user data access. Per HIPAA guidelines, data is retained for 7 years and is available upon special request. \n\nDELETE /organizations/:org_id/users/:uid?token=:token",
        "operationId": "delete-user",
        "parameters": [
          {
            "name": "org_id",
            "in": "path",
            "description": "Organization ID provided to you by Validic.",
            "schema": {
              "type": "string"
            },
            "required": true
          },
          {
            "name": "uid",
            "in": "path",
            "description": "The UID you defined when provisioning the client.",
            "schema": {
              "type": "string"
            },
            "required": true
          },
          {
            "name": "token",
            "in": "path",
            "description": "Developer Key as supplied by Validic.",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{\n    \"id\": \"598518fd8a5da50001578157\",\n    \"uid\": \"277040620-wcwflair\",\n    \"marketplace\": {\n        \"token\": \"c7ff3922e30c048f6e2fbd099ee1358d5871e3861419c16d195b0fc313b09c47\",\n        \"url\": \"https://syncmydevice.com/?token=c7ff3922e30c048f6e2fbd099ee1358d5871e3861419c16d195b0fc313b09c47\"\n    },\n    \"location\": {\n        \"timezone\": \"America/New_York\",\n        \"country_code\": \"US\"\n    },\n    \"sources\": [],\n    \"created_at\": \"2017-08-05T01:01:49Z\",\n    \"updated_at\": \"2017-08-05T01:01:49Z\",\n    \"deleted_at\": \"2017-08-05T01:16:23Z\"\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string",
                      "example": "598518fd8a5da50001578157"
                    },
                    "uid": {
                      "type": "string",
                      "example": "277040620-wcwflair"
                    },
                    "marketplace": {
                      "type": "object",
                      "properties": {
                        "token": {
                          "type": "string",
                          "example": "c7ff3922e30c048f6e2fbd099ee1358d5871e3861419c16d195b0fc313b09c47"
                        },
                        "url": {
                          "type": "string",
                          "example": "https://syncmydevice.com/?token=c7ff3922e30c048f6e2fbd099ee1358d5871e3861419c16d195b0fc313b09c47"
                        }
                      }
                    },
                    "location": {
                      "type": "object",
                      "properties": {
                        "timezone": {
                          "type": "string",
                          "example": "America/New_York"
                        },
                        "country_code": {
                          "type": "string",
                          "example": "US"
                        }
                      }
                    },
                    "sources": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {}
                      }
                    },
                    "created_at": {
                      "type": "string",
                      "example": "2017-08-05T01:01:49Z"
                    },
                    "updated_at": {
                      "type": "string",
                      "example": "2017-08-05T01:01:49Z"
                    },
                    "deleted_at": {
                      "type": "string",
                      "example": "2017-08-05T01:16:23Z"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "400",
            "content": {
              "text/plain": {
                "examples": {
                  "Result": {
                    "value": "Indicates that there was an error with request\n"
                  }
                }
              }
            }
          },
          "401": {
            "description": "401",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{\n    \"errors\": [\n        \"Token is not authorized to access organization\"\n    ]\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "errors": {
                      "type": "array",
                      "items": {
                        "type": "string",
                        "example": "Token is not authorized to access organization"
                      }
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "403",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{\n    \"message\": \"Invalid authentication credentials\"\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "Invalid authentication credentials"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "404",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{\n    \"errors\": [\n        \"not found\"\n    ]\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "errors": {
                      "type": "array",
                      "items": {
                        "type": "string",
                        "example": "not found"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "deprecated": false,
        "security": [],
        "x-readme": {
          "code-samples": [
            {
              "language": "curl",
              "code": "curl --request DELETE \\\n  --url 'https://api.v2.validic.com/organizations//597752338a5da500014a1f9a/users/277040620-wcwflair?token=6f46db36dd6543d2b82d91698fcd0896' \\\n  --header 'content-type: application/json'"
            },
            {
              "language": "ruby",
              "code": "require 'uri'\nrequire 'net/http'\n\nurl = URI(\"https://api.v2.validic.com/organizations//597752338a5da500014a1f9a/users/277040620-wcwflair?token=6f46db36dd6543d2b82d91698fcd0896\")\n\nhttp = Net::HTTP.new(url.host, url.port)\n\nrequest = Net::HTTP::Delete.new(url)\nrequest[\"content-type\"] = 'application/json'\n\nresponse = http.request(request)\nputs response.read_body"
            },
            {
              "language": "python",
              "code": "import requests\n\nurl = \"https://api.v2.validic.com/organizations//597752338a5da500014a1f9a/users/277040620-wcwflair\"\n\nquerystring = {\"token\":\"6f46db36dd6543d2b82d91698fcd0896\"}\n\npayload = \"\"\nheaders = {'content-type': 'application/json'}\n\nresponse = requests.request(\"DELETE\", url, data=payload, headers=headers, params=querystring)\n\nprint(response.text)"
            },
            {
              "language": "go",
              "code": "package main\n\nimport (\n\t\"fmt\"\n\t\"net/http\"\n\t\"io/ioutil\"\n)\n\nfunc main() {\n\n\turl := \"https://api.v2.validic.com/organizations//597752338a5da500014a1f9a/users/277040620-wcwflair?token=6f46db36dd6543d2b82d91698fcd0896\"\n\n\treq, _ := http.NewRequest(\"DELETE\", url, nil)\n\n\treq.Header.Add(\"content-type\", \"application/json\")\n\n\tres, _ := http.DefaultClient.Do(req)\n\n\tdefer res.Body.Close()\n\tbody, _ := ioutil.ReadAll(res.Body)\n\n\tfmt.Println(res)\n\tfmt.Println(string(body))\n\n}"
            },
            {
              "language": "php",
              "code": "<?php\n\n$curl = curl_init();\n\ncurl_setopt_array($curl, array(\n  CURLOPT_URL => \"https://api.v2.validic.com/organizations//597752338a5da500014a1f9a/users/277040620-wcwflair?token=6f46db36dd6543d2b82d91698fcd0896\",\n  CURLOPT_RETURNTRANSFER => true,\n  CURLOPT_ENCODING => \"\",\n  CURLOPT_MAXREDIRS => 10,\n  CURLOPT_TIMEOUT => 30,\n  CURLOPT_HTTP_VERSION => CURL_HTTP_VERSION_1_1,\n  CURLOPT_CUSTOMREQUEST => \"DELETE\",\n  CURLOPT_POSTFIELDS => \"\",\n  CURLOPT_HTTPHEADER => array(\n    \"content-type: application/json\"\n  ),\n));\n\n$response = curl_exec($curl);\n$err = curl_error($curl);\n\ncurl_close($curl);\n\nif ($err) {\n  echo \"cURL Error #:\" . $err;\n} else {\n  echo $response;\n}"
            }
          ],
          "samples-languages": [
            "curl",
            "ruby",
            "python",
            "go",
            "php"
          ]
        }
      }
    },
    "/organizations/{org_id}/users/{uid}/marketplace?token={token}": {
      "post": {
        "summary": "Refresh Marketplace Token",
        "description": "Generates a new Marketplace token and URL for the user. A user's existing connected sources are not impacted. Any previous Marketplace tokens or URLs persisted by the customer will need to be updated.\n\nPOST /organizations/:org_id/users/:uid/marketplace?token=:token",
        "operationId": "generate-new-marketplace-token",
        "parameters": [
          {
            "name": "org_id",
            "in": "path",
            "description": "Organization ID provided to you by Validic.",
            "schema": {
              "type": "string"
            },
            "required": true
          },
          {
            "name": "uid",
            "in": "path",
            "description": "The UID you defined when provisioning the client.",
            "schema": {
              "type": "string"
            },
            "required": true
          },
          {
            "name": "token",
            "in": "path",
            "description": "Developer Key as supplied by Validic.",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "responses": {
          "201": {
            "description": "201",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{\n    \"marketplace\": {\n        \"token\": \"17f3aa037e431cc9bc40a94393d38d108d344e7a1bb0a057dbe2359cef8bcd31\",\n        \"url\": \"https://syncmydevice.com/?token=17f3aa037e431cc9bc40a94393d38d108d344e7a1bb0a057dbe2359cef8bcd31\"\n    }\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "marketplace": {
                      "type": "object",
                      "properties": {
                        "token": {
                          "type": "string",
                          "example": "17f3aa037e431cc9bc40a94393d38d108d344e7a1bb0a057dbe2359cef8bcd31"
                        },
                        "url": {
                          "type": "string",
                          "example": "https://syncmydevice.com/?token=17f3aa037e431cc9bc40a94393d38d108d344e7a1bb0a057dbe2359cef8bcd31"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "400",
            "content": {
              "text/plain": {
                "examples": {
                  "Result": {
                    "value": "Indicates that there was an error with request\n"
                  }
                }
              }
            }
          },
          "401": {
            "description": "401",
            "content": {
              "text/plain": {
                "examples": {
                  "Result": {
                    "value": "{\n    \"errors\": [\n        \"Token is not authorized to access organization\"\n    ]\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "errors": {
                      "type": "array",
                      "items": {
                        "type": "string",
                        "example": "Token is not authorized to access organization"
                      }
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "403",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{\n    \"message\": \"Invalid authentication credentials\"\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "Invalid authentication credentials"
                    }
                  }
                }
              }
            }
          }
        },
        "deprecated": false,
        "security": [],
        "x-readme": {
          "code-samples": [
            {
              "language": "curl",
              "code": "curl --request POST \\\n  --url 'https://api.v2.validic.com/organizations/597752338a5da500014a1f9a/users/277040620-sel/marketplace?token=6f46db36dd6543d2b82d91698fcd0896' \\\n  --header 'content-type: application/json'"
            },
            {
              "language": "ruby",
              "code": "require 'uri'\nrequire 'net/http'\n\nurl = URI(\"https://api.v2.validic.com/organizations/597752338a5da500014a1f9a/users/277040620-sel/marketplace?token=6f46db36dd6543d2b82d91698fcd0896\")\n\nhttp = Net::HTTP.new(url.host, url.port)\n\nrequest = Net::HTTP::Post.new(url)\nrequest[\"content-type\"] = 'application/json'\n\nresponse = http.request(request)\nputs response.read_body"
            },
            {
              "language": "python",
              "code": "import requests\n\nurl = \"https://api.v2.validic.com/organizations/597752338a5da500014a1f9a/users/277040620-sel/marketplace\"\n\nquerystring = {\"token\":\"6f46db36dd6543d2b82d91698fcd0896\"}\n\npayload = \"\"\nheaders = {'content-type': 'application/json'}\n\nresponse = requests.request(\"POST\", url, data=payload, headers=headers, params=querystring)\n\nprint(response.text)"
            },
            {
              "language": "go",
              "code": "package main\n\nimport (\n\t\"fmt\"\n\t\"net/http\"\n\t\"io/ioutil\"\n)\n\nfunc main() {\n\n\turl := \"https://api.v2.validic.com/organizations/597752338a5da500014a1f9a/users/277040620-sel/marketplace?token=6f46db36dd6543d2b82d91698fcd0896\"\n\n\treq, _ := http.NewRequest(\"POST\", url, nil)\n\n\treq.Header.Add(\"content-type\", \"application/json\")\n\n\tres, _ := http.DefaultClient.Do(req)\n\n\tdefer res.Body.Close()\n\tbody, _ := ioutil.ReadAll(res.Body)\n\n\tfmt.Println(res)\n\tfmt.Println(string(body))\n\n}"
            },
            {
              "language": "php",
              "code": "<?php\n\n$curl = curl_init();\n\ncurl_setopt_array($curl, array(\n  CURLOPT_URL => \"https://api.v2.validic.com/organizations/597752338a5da500014a1f9a/users/277040620-sel/marketplace?token=6f46db36dd6543d2b82d91698fcd0896\",\n  CURLOPT_RETURNTRANSFER => true,\n  CURLOPT_ENCODING => \"\",\n  CURLOPT_MAXREDIRS => 10,\n  CURLOPT_TIMEOUT => 30,\n  CURLOPT_HTTP_VERSION => CURL_HTTP_VERSION_1_1,\n  CURLOPT_CUSTOMREQUEST => \"POST\",\n  CURLOPT_POSTFIELDS => \"\",\n  CURLOPT_HTTPHEADER => array(\n    \"content-type: application/json\"\n  ),\n));\n\n$response = curl_exec($curl);\n$err = curl_error($curl);\n\ncurl_close($curl);\n\nif ($err) {\n  echo \"cURL Error #:\" . $err;\n} else {\n  echo $response;\n}"
            },
            {
              "language": "http",
              "code": "PUT /organizations/597752338a5da500014a1f9a/users/277040620-sel?token=6f46db36dd6543d2b82d91698fcd0896 HTTP/1.1\nHost: api.v2.validic.com\nContent-Type: application/json\nCache-Control: no-cache\nPostman-Token: 1eee6c40-8268-6661-3bf7-3b9ba5d10a95\n\n{\n  \"location\": {\n    \"timezone\": \"America/New_York\",\n    \"country_code\": \"US\"\n  }\n}"
            }
          ],
          "samples-languages": [
            "curl",
            "ruby",
            "python",
            "go",
            "php",
            "http"
          ]
        }
      }
    },
    "/organizations/{org_id}/users/{uid}/summaries?token={token}": {
      "get": {
        "summary": "Summaries",
        "description": "Returns a list of summaries for a given user.\n\nGET /organizations/:org_id/users/:uid/summaries",
        "operationId": "summaries",
        "parameters": [
          {
            "name": "org_id",
            "in": "path",
            "description": "Organization ID provided to you by Validic.",
            "schema": {
              "type": "string"
            },
            "required": true
          },
          {
            "name": "uid",
            "in": "path",
            "description": "The UID you defined when provisioning the client.",
            "schema": {
              "type": "string"
            },
            "required": true
          },
          {
            "name": "start_date",
            "in": "query",
            "description": "The start date to retrieve user data for. Format: YYYY-MM-DD. Default is current UTC day. Max date range is 30 days.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "end_date",
            "in": "query",
            "description": "The end date to retrieve user data for. Format: YYYY-MM-DD. Default is current UTC day. Max date range is 30 days.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "source",
            "in": "query",
            "description": "Used to filter records to source(s).  Example:  \u201c...?source=fitbit,garmin\u201d or  \u201c...?source=fitbit\u201d",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "token",
            "in": "path",
            "description": "Developer Key as supplied by Validic.",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": {
                      "data": [
                        {
                          "category": "daily",
                          "checksum": "3dc1a50e1c7043578bcef544adc71675",
                          "created_at": "2026-04-19T16:48:10.059Z",
                          "deleted_at": null,
                          "end_time": "2026-04-20T04:59:59Z",
                          "id": "407bef9cff3SAMPLEbecc8f0f76c434",
                          "log_id": "2026-04-19",
                          "metrics": [
                            {
                              "type": "active_duration",
                              "origin": "device",
                              "unit": "s",
                              "value": 2820
                            },
                            {
                              "type": "fairly_active_duration",
                              "origin": "device",
                              "unit": "s",
                              "value": 660
                            },
                            {
                              "type": "lightly_active_duration",
                              "origin": "device",
                              "unit": "s",
                              "value": 3300
                            },
                            {
                              "type": "very_active_duration",
                              "origin": "device",
                              "unit": "s",
                              "value": 2160
                            },
                            {
                              "type": "active_energy_burned",
                              "origin": "device",
                              "unit": "kcal",
                              "value": 809
                            },
                            {
                              "type": "basal_energy_burned",
                              "origin": "device",
                              "unit": "kcal",
                              "value": 993
                            },
                            {
                              "type": "distance",
                              "origin": "device",
                              "unit": "m",
                              "value": 4390
                            },
                            {
                              "type": "energy_burned",
                              "origin": "device",
                              "unit": "kcal",
                              "value": 1686
                            },
                            {
                              "type": "steps",
                              "origin": "device",
                              "unit": "count",
                              "value": 6392
                            },
                            {
                              "type": "heart_rate_zone_very_low",
                              "origin": "device",
                              "unit": "s",
                              "value": 8400
                            },
                            {
                              "type": "heart_rate_zone_low",
                              "origin": "device",
                              "unit": "s",
                              "value": 5220
                            },
                            {
                              "type": "heart_rate_zone_medium",
                              "origin": "device",
                              "unit": "s",
                              "value": 1500
                            },
                            {
                              "type": "heart_rate_zone_high",
                              "origin": "device",
                              "unit": "s",
                              "value": 0
                            },
                            {
                              "type": "resting_heart_rate",
                              "origin": "device",
                              "unit": "bpm",
                              "value": 70
                            }
                          ],
                          "offset_origin": "profile",
                          "segments": [],
                          "source": {
                            "type": "fitbit",
                            "device": null
                          },
                          "start_time": "2026-04-19T05:00:00Z",
                          "tags": [],
                          "type": "summary",
                          "user": {
                            "organization_id": "597752338a5da500014a1f9a",
                            "user_id": "5c1003SAMPLE0012a6fc1",
                            "uid": "277040620-sel"
                          },
                          "user_notes": [],
                          "utc_offset": -18000,
                          "version": "1.0"
                        }
                      ]
                    }
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "category": {
                            "type": "string",
                            "example": "daily"
                          },
                          "checksum": {
                            "type": "string",
                            "example": "3dc1a50e1c7043578bcef544adc71675"
                          },
                          "created_at": {
                            "type": "string",
                            "example": "2019-12-19T16:48:10.059Z"
                          },
                          "deleted_at": {},
                          "end_time": {
                            "type": "string",
                            "example": "2019-12-20T04:59:59Z"
                          },
                          "id": {
                            "type": "string",
                            "example": "407bef9cff3SAMPLEbecc8f0f76c434"
                          },
                          "log_id": {
                            "type": "string",
                            "example": "2019-12-19"
                          },
                          "metrics": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "type": {
                                  "type": "string",
                                  "example": "active_duration"
                                },
                                "origin": {
                                  "type": "string",
                                  "example": "device"
                                },
                                "unit": {
                                  "type": "string",
                                  "example": "s"
                                },
                                "value": {
                                  "type": "integer",
                                  "example": 2820,
                                  "default": 0
                                }
                              }
                            }
                          },
                          "offset_origin": {
                            "type": "string",
                            "example": "profile"
                          },
                          "segments": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {}
                            }
                          },
                          "source": {
                            "type": "object",
                            "properties": {
                              "type": {
                                "type": "string",
                                "example": "fitbit"
                              },
                              "device": {}
                            }
                          },
                          "start_time": {
                            "type": "string",
                            "example": "2019-12-19T05:00:00Z"
                          },
                          "tags": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {}
                            }
                          },
                          "type": {
                            "type": "string",
                            "example": "summary"
                          },
                          "user": {
                            "type": "object",
                            "properties": {
                              "organization_id": {
                                "type": "string",
                                "example": "597752338a5da500014a1f9a"
                              },
                              "user_id": {
                                "type": "string",
                                "example": "5c1003SAMPLE0012a6fc1"
                              },
                              "uid": {
                                "type": "string",
                                "example": "277040620-sel"
                              }
                            }
                          },
                          "user_notes": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {}
                            }
                          },
                          "utc_offset": {
                            "type": "integer",
                            "example": -18000,
                            "default": 0
                          },
                          "version": {
                            "type": "string",
                            "example": "1.0"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "400",
            "content": {
              "text/plain": {
                "examples": {
                  "Result": {
                    "value": "Indicates that there was an error with request\n"
                  }
                }
              }
            }
          },
          "401": {
            "description": "401",
            "content": {
              "text/plain": {
                "examples": {
                  "Result": {
                    "value": "{\n    \"errors\": [\n        \"Token is not authorized to access organization\"\n    ]\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "errors": {
                      "type": "array",
                      "items": {
                        "type": "string",
                        "example": "Token is not authorized to access organization"
                      }
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "403",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{\n    \"message\": \"Invalid authentication credentials\"\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "Invalid authentication credentials"
                    }
                  }
                }
              }
            }
          }
        },
        "security": [],
        "x-readme": {
          "code-samples": [
            {
              "language": "curl",
              "code": "curl --request GET \\\n  --url 'https://api.v2.validic.com/organizations/597752338a5da500014a1f9a/users/277040620-sel/summaries?start_date=2026-03-29&token=6f46db36dd6543d2b82d91698fcd0896'"
            },
            {
              "language": "ruby",
              "code": "require 'uri'\nrequire 'net/http'\n\nurl = URI(\"https://api.v2.validic.com/organizations/597752338a5da500014a1f9a/users/277040620-sel/summaries?start_date=2026-03-29&token=6f46db36dd6543d2b82d91698fcd0896\")\n\nhttp = Net::HTTP.new(url.host, url.port)\n\nrequest = Net::HTTP::Get.new(url)\n\nresponse = http.request(request)\nputs response.read_body"
            },
            {
              "language": "python",
              "code": "import requests\n\nurl = \"https://api.v2.validic.com/organizations/597752338a5da500014a1f9a/users/277040620-sel/summaries\"\n\nquerystring = {\"start_date\":\"2026-03-29\",\"token\":\"6f46db36dd6543d2b82d91698fcd0896\"}\n\nresponse = requests.request(\"GET\", url, params=querystring)\n\nprint(response.text)"
            },
            {
              "language": "go",
              "code": "package main\n\nimport (\n\t\"fmt\"\n\t\"net/http\"\n\t\"io/ioutil\"\n)\n\nfunc main() {\n\n\turl := \"https://api.v2.validic.com/organizations/597752338a5da500014a1f9a/users/277040620-sel/summaries?start_date=2026-03-29&token=6f46db36dd6543d2b82d91698fcd0896\"\n\n\treq, _ := http.NewRequest(\"GET\", url, nil)\n\n\tres, _ := http.DefaultClient.Do(req)\n\n\tdefer res.Body.Close()\n\tbody, _ := ioutil.ReadAll(res.Body)\n\n\tfmt.Println(res)\n\tfmt.Println(string(body))\n\n}"
            },
            {
              "language": "php",
              "code": "<?php\n\n$curl = curl_init();\n\ncurl_setopt_array($curl, array(\n  CURLOPT_URL => \"https://api.v2.validic.com/organizations/597752338a5da500014a1f9a/users/277040620-sel/summaries?start_date=2026-03-29&token=6f46db36dd6543d2b82d91698fcd0896\",\n  CURLOPT_RETURNTRANSFER => true,\n  CURLOPT_ENCODING => \"\",\n  CURLOPT_MAXREDIRS => 10,\n  CURLOPT_TIMEOUT => 30,\n  CURLOPT_HTTP_VERSION => CURL_HTTP_VERSION_1_1,\n  CURLOPT_CUSTOMREQUEST => \"GET\",\n));\n\n$response = curl_exec($curl);\n$err = curl_error($curl);\n\ncurl_close($curl);\n\nif ($err) {\n  echo \"cURL Error #:\" . $err;\n} else {\n  echo $response;\n}"
            }
          ],
          "samples-languages": [
            "curl",
            "ruby",
            "python",
            "go",
            "php"
          ]
        }
      }
    },
    "/organizations/{org_id}/users/{uid}/measurements?token={token}": {
      "get": {
        "summary": "Measurements",
        "description": "Returns a list of measurements for a given user \n\nGET /organizations/:org_id/users/:uid/measurements",
        "operationId": "measurements",
        "parameters": [
          {
            "name": "org_id",
            "in": "path",
            "description": "Organization ID provided to you by Validic.",
            "schema": {
              "type": "string"
            },
            "required": true
          },
          {
            "name": "uid",
            "in": "path",
            "description": "The UID you defined when provisioning the client.",
            "schema": {
              "type": "string"
            },
            "required": true
          },
          {
            "name": "start_date",
            "in": "query",
            "description": "The start date to retrieve user data for. Format: YYYY-MM-DD. Default is current UTC day. Max date range is 30 days.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "end_date",
            "in": "query",
            "description": "The end date to retrieve user data for. Format: YYYY-MM-DD. Default is current UTC day. Max date range is 30 days.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "source",
            "in": "query",
            "description": "Used to filter records to source(s).  Example:  \u201c...?source=fitbit,garmin\u201d or  \u201c...?source=fitbit\u201d",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "token",
            "in": "path",
            "description": "Developer Key as supplied by Validic.",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": {
                      "data": [
                        {
                          "checksum": "11c7c5a7833f3ea41fd3fc173544fe3e",
                          "created_at": "2026-03-11T17:06:09.473Z",
                          "deleted_at": null,
                          "end_time": "2026-03-10T03:59:59Z",
                          "id": "3af2f56dSAMPLE39ec002d3d1f2ffd5",
                          "log_id": "1568073599000",
                          "metrics": [
                            {
                              "type": "body_weight",
                              "origin": "unknown",
                              "unit": "kg",
                              "value": 130.2
                            },
                            {
                              "type": "bmi",
                              "origin": "unknown",
                              "unit": "kg/m2",
                              "value": 44.96
                            }
                          ],
                          "offset_origin": "profile",
                          "source": {
                            "type": "fitbit",
                            "device": null
                          },
                          "start_time": "2026-03-10T03:59:59Z",
                          "tags": [],
                          "type": "measurement",
                          "user": {
                            "organization_id": "59b02bbdfSample0001e13e75",
                            "user_id": "59b02bdeSAMPLE0001e13e8c",
                            "uid": "vpt12345sp"
                          },
                          "user_notes": [],
                          "utc_offset": -14400,
                          "version": "1.0"
                        },
                        {
                          "checksum": "b70c984c9ec56eb631e71b27d615a299",
                          "created_at": "2026-03-24T16:22:16.010Z",
                          "deleted_at": null,
                          "end_time": "2026-03-24T16:21:00Z",
                          "id": "702d5fc3SAMPLE1517279486e245d5",
                          "log_id": "1616804489",
                          "metrics": [
                            {
                              "type": "diastolic",
                              "origin": "manual",
                              "unit": "mmHg",
                              "value": 75
                            },
                            {
                              "type": "systolic",
                              "origin": "manual",
                              "unit": "mmHg",
                              "value": 137
                            },
                            {
                              "type": "pulse",
                              "origin": "manual",
                              "unit": "bpm",
                              "value": 55
                            }
                          ],
                          "offset_origin": "source",
                          "source": {
                            "type": "nokia",
                            "device": null
                          },
                          "start_time": "2026-03-24T16:21:00Z",
                          "tags": [],
                          "type": "measurement",
                          "user": {
                            "organization_id": "59b02bbdfSample0001e13e75",
                            "user_id": "59b02bdeSAMPLE0001e13e8c",
                            "uid": "vpt12345sp"
                          },
                          "user_notes": [],
                          "utc_offset": -14400,
                          "version": "1.0"
                        },
                        {
                          "checksum": "d8346c70a16d728f265d0ec0adb76b46",
                          "created_at": "2026-03-24T16:21:59.634Z",
                          "deleted_at": null,
                          "end_time": "2026-03-24T16:21:43Z",
                          "id": "5d4c89623fdSAMPLEe8d98b604a387",
                          "log_id": "1616804353",
                          "metrics": [
                            {
                              "type": "pulse",
                              "origin": "device",
                              "unit": "bpm",
                              "value": 55
                            }
                          ],
                          "offset_origin": "source",
                          "source": {
                            "type": "nokia",
                            "device": null
                          },
                          "start_time": "2026-03-24T16:21:43Z",
                          "tags": [],
                          "type": "measurement",
                          "user": {
                            "organization_id": "59b02bbdfSample0001e13e75",
                            "user_id": "59b02bdeSAMPLE0001e13e8c",
                            "uid": "vpt12345sp"
                          },
                          "user_notes": [],
                          "utc_offset": -14400,
                          "version": "1.0"
                        }
                      ]
                    }
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "checksum": {
                            "type": "string",
                            "example": "11c7c5a7833f3ea41fd3fc173544fe3e"
                          },
                          "created_at": {
                            "type": "string",
                            "example": "2019-10-11T17:06:09.473Z"
                          },
                          "deleted_at": {},
                          "end_time": {
                            "type": "string",
                            "example": "2019-09-10T03:59:59Z"
                          },
                          "id": {
                            "type": "string",
                            "example": "3af2f56dSAMPLE39ec002d3d1f2ffd5"
                          },
                          "log_id": {
                            "type": "string",
                            "example": "1568073599000"
                          },
                          "metrics": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "type": {
                                  "type": "string",
                                  "example": "body_weight"
                                },
                                "origin": {
                                  "type": "string",
                                  "example": "unknown"
                                },
                                "unit": {
                                  "type": "string",
                                  "example": "kg"
                                },
                                "value": {
                                  "type": "number",
                                  "example": 130.2,
                                  "default": 0
                                }
                              }
                            }
                          },
                          "offset_origin": {
                            "type": "string",
                            "example": "profile"
                          },
                          "source": {
                            "type": "object",
                            "properties": {
                              "type": {
                                "type": "string",
                                "example": "fitbit"
                              },
                              "device": {}
                            }
                          },
                          "start_time": {
                            "type": "string",
                            "example": "2019-09-10T03:59:59Z"
                          },
                          "tags": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {}
                            }
                          },
                          "type": {
                            "type": "string",
                            "example": "measurement"
                          },
                          "user": {
                            "type": "object",
                            "properties": {
                              "organization_id": {
                                "type": "string",
                                "example": "59b02bbdfSample0001e13e75"
                              },
                              "user_id": {
                                "type": "string",
                                "example": "59b02bdeSAMPLE0001e13e8c"
                              },
                              "uid": {
                                "type": "string",
                                "example": "vpt12345sp"
                              }
                            }
                          },
                          "user_notes": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {}
                            }
                          },
                          "utc_offset": {
                            "type": "integer",
                            "example": -14400,
                            "default": 0
                          },
                          "version": {
                            "type": "string",
                            "example": "1.0"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "400",
            "content": {
              "text/plain": {
                "examples": {
                  "Result": {
                    "value": "Indicates that there was an error with request\n"
                  }
                }
              }
            }
          },
          "401": {
            "description": "401",
            "content": {
              "text/plain": {
                "examples": {
                  "Result": {
                    "value": "{\n    \"errors\": [\n        \"Token is not authorized to access organization\"\n    ]\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "errors": {
                      "type": "array",
                      "items": {
                        "type": "string",
                        "example": "Token is not authorized to access organization"
                      }
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "403",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{\n    \"message\": \"Invalid authentication credentials\"\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "Invalid authentication credentials"
                    }
                  }
                }
              }
            }
          }
        },
        "deprecated": false,
        "security": [],
        "x-readme": {
          "code-samples": [
            {
              "language": "curl",
              "code": "curl --request GET \\\n  --url 'https://api.v2.validic.com/organizations/59b02bbdfSample0001e13e75/users/vpt12345sp/measurements?token=6f46db36d54sample91698fcd0896'"
            },
            {
              "language": "ruby",
              "code": "require 'uri'\nrequire 'net/http'\n\nurl = URI(\"https://api.v2.validic.com/organizations/597752338a5da500014a1f9a/users/demotestuser1/measurements?token=6f46db36dd6543d2b82d91698fcd0896\")\n\nhttp = Net::HTTP.new(url.host, url.port)\n\nrequest = Net::HTTP::Get.new(url)\n\nresponse = http.request(request)\nputs response.read_body"
            },
            {
              "language": "python",
              "code": "import requests\n\nurl = \"https://api.v2.validic.com/organizations/597752338a5da500014a1f9a/users/demotestuser1/measurements\"\n\nquerystring = {\"token\":\"6f46db36dd6543d2b82d91698fcd0896\"}\n\nresponse = requests.request(\"GET\", url, params=querystring)\n\nprint(response.text)"
            },
            {
              "language": "go",
              "code": "package main\n\nimport (\n\t\"fmt\"\n\t\"net/http\"\n\t\"io/ioutil\"\n)\n\nfunc main() {\n\n\turl := \"https://api.v2.validic.com/organizations/597752338a5da500014a1f9a/users/demotestuser1/measurements?token=6f46db36dd6543d2b82d91698fcd0896\"\n\n\treq, _ := http.NewRequest(\"GET\", url, nil)\n\n\tres, _ := http.DefaultClient.Do(req)\n\n\tdefer res.Body.Close()\n\tbody, _ := ioutil.ReadAll(res.Body)\n\n\tfmt.Println(res)\n\tfmt.Println(string(body))\n\n}"
            },
            {
              "language": "php",
[...]
